# Textblob Multiclass classification test

In [5]:
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier
train = [
    ('I love this sandwich.', 'pos'),
    ('This is an amazing place!', 'pos'),
    ('I feel very good about these beers.', 'pos'),
    ('I do not like this restaurant', 'neg'),
    ('I am tired of this stuff.', 'neg'),
    ("I can't deal with this", 'neg'),
    ("My boss is horrible.", "neg")
]
cl = NaiveBayesClassifier(train)
cl.classify("I feel amazing!")
'pos'
blob = TextBlob("The beer is good. But the hangover is horrible.", classifier=cl)
for s in blob.sentences:
    print(s)
    print(s.classify())

The beer is good.
pos
But the hangover is horrible.
neg

In [6]:
import pandas as pd
import os 
os.chdir("/home/eric/Nextcloud/NIU/RA/")
df_water = pd.read_csv("water_tweets.csv")
df_water_short = pd.read_csv("water_tweets.csv")
#for ind in df_water.index:
#    print(df_water['Name'][ind], df_water['Stream'][ind])
for num, i in enumerate(df_water['x']):
    print(i)
    if num > 10:
        break;

Don't let your garden go thirsty this summer - prepare to irrigate efficiently! Learn tips and tricks for maintaining a working, water-efficient irrigation system this summer. May 22 from 10 a.m. to 11:30 a.m. Register today: https://t.co/5VN6vm1D59 https://t.co/5MBWQ3U1sH
Congratulations to Sabrina Wu &amp; Yusuf Rasheed for winning 2nd Place - High School Division - in our WaterClips Student Video Contest! Check out his video about how you can plan and prepare for Water Emergencies! #waterclips2021 @Fremont_CA https://t.co/8JEo4hAzLk
Congratulations Andrew Yuen 11th grader @USDFremont American High School for winning 3rd Place-High School Division - in our WaterClips Student Video Contest! This year's theme: planning &amp; preparing for water emergencies. More emergency info @ https://t.co/QjgMvkzheu @Fremont_CA https://t.co/7YOWMady33
NOW HIRING!
Engineering Technician I
$81,798 - $99, 429
APPLY: https://t.co/alPu6FQLNx
#workforwater #waterjobs #CAwater #EngineeringJobs https://t.co/HnBeloYZTr
#OneSavesWater What's one action you can take today to save water? Let's work together to use water wisely. Visit https://t.co/nKDXhUFwTO for simple water saving tips! https://t.co/A6varSmU6Y
#TipTuesday Congratulations to Nidhi Riju, a 7th grader from @USDFremont John M. Horner Middle School for winning 1st Place - Middle School Division - in our WaterClips Student Video Contest! Check out her video about how you can plan &amp; prepare for Water Emergencies! @Fremont_CA https://t.co/r9NXiursI7
@Hydrant_Guard @NhusdC @UnionCityCA_Gov @AlamedaCOE Thank you @Hydrant_Guard!  Marissa and all of our #WaterClips2021 winners and participants really did a great job making videos for this year’s contest!
Congratulations to Marissa Torres from @NhusdC Itliong Vera Cruz Middle School for winning 2nd Place/Middle School Division in our WaterClips Student Video Contest! Check out her video about planning &amp; preparing for water emergencies!  #WaterClips2021 @UnionCityCA_Gov @AlamedaCOE https://t.co/BCx61nBHos
Congratulations to Akshata Yadav from @USDFremont
Parkmont Elementary School for winning 3rd Place in our WaterClips Student Video Contest! Check out her video about how you can plan and prepare for Water Emergencies!  #WaterClips2021 https://t.co/iw36Wrvhyd
Engineering Technician I: The Alameda County Water District located in Fremont, California is seeking detail-oriented applicants with the desire to provide field and office technical engineering support to the Groundwater Resources Division in the Water… https://t.co/d7sWo4ZmpZ https://t.co/NA2IVvCI7R
@cbdawson Thank you for sharing @cbdawson!  We’re super proud of the students from @USDFremont, @newark_usd, @NhusdC and @AlsionSchool for their award winning videos! 🏆🎥🎬
Congratulations to the winners of our 2nd annual WaterClips Student Video Contest!  Tri-City students made 30 second videos to help inform customers about planning &amp; preparing for water emergencies.  See the award winning videos @ https://t.co/7Ky4CvAOq8 Fremont USD Newark USD https://t.co/b5i2N006qr

In [9]:
train = [
    ("Don't let your garden go thirsty this summer", 'conservation'),
    ("What's one action you can take today to save water", 'conservation'),
    ("What's one action you can take today to save water?", 'conservation'),
    ('prepare for Water Emergencies', 'conservation'),
    ('Congratulations to Akshata Yadav', 'Motivation'),
    ("Congratulations to Nidhi Riju", 'Motivation'),
    ("Let's work together to use water wisely.", "Motivation")
]
cl = NaiveBayesClassifier(train)

blob = TextBlob("Congratulations to the winners of our 2nd annual WaterClips Student Video Contest", classifier=cl)
for s in blob.sentences:
    print(s)
    print(s.classify())

Congratulations to the winners of our 2nd annual WaterClips Student Video Contest
Motivation

In [10]:
len(df_water)

73775

In [12]:
df_water.head(n=5)

                                                   x
0  Don't let your garden go thirsty this summer -...
1  Congratulations to Sabrina Wu &amp; Yusuf Rash...
2  Congratulations Andrew Yuen 11th grader @USDFr...
3  NOW HIRING!\nEngineering Technician I\n$81,798...
4  #OneSavesWater What's one action you can take ...